Source: vision-validator-node
Section: contrib/python
Priority: extra
Maintainer: Vision GmbH <contact@vision.io>
Build-Depends: debhelper-compat (= 12), python3, python3-dev, dh-virtualenv (>= 1.1), python3-venv, tar, dh-sysuser, dh-exec
Standards-Version: 3.9.5
Homepage: https://github.com/vision-web3-foundation/validatornode

Package: vision-validator-node
Architecture: all
Pre-Depends: dpkg (>= 1.16.1), python3, python3-venv, ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}, libpq-dev, debconf
Recommends: iptables
Description: Validator Node reference implementation for the Vision multi-blockchain system.