[Unit]
Description=Service Node web server reference implementation for the Vision multi-blockchain system
After=network.target postgresql.service rabbitmq-server.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
KillMode=mixed
WorkingDirectory=/opt/vision/vision-validator-node
EnvironmentFile=/etc/default/vision-validator-node
ExecStart=/usr/bin/vision-validator-node-server
StandardOutput=append:/var/log/vision/validator-node/server-service.log
StandardError=append:/var/log/vision/validator-node/server-service.log

[Install]
WantedBy=multi-user.target
